<!DOCTYPE html>
<html ng-app="BettingApp"> 
  <head>
    <title>Betting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 95%;
      }

      td {
        padding: 10px;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body ng-controller="BettingController">
    <div class="container">
      <h1>Football Lines</h1>
      <form role="form" ng-submit="getResults()">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!-- {% raw %} -->
      <div ng-bind-html="dataResults"></div>
      <!-- {% endraw %} -->
      <br>

    </div>
  </body>
</html>