<!DOCTYPE html>
<html ng-app="BettingApp"> 
  <head>
    <title>Betting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 95%;
      }

      td {
        padding: 10px;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body ng-controller="BettingController">
    <div class="container">
      <h1>Football Lines</h1>
      <form role="form" ng-submit="getResults()">
        {% raw %}
        <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
        {% endraw %}
      </form>
      <div class="alert alert-danger" role="alert" ng-show='urlerror'>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span>There was an error aggregating your lines.<br>
          Please let someone know and try again later.</span>
        </div>
      <div ng-bind-html="dataResults"></div>
      <br>
      <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static',
      filename='spinner.gif') }}" ng-show="loading">

    </div>
  </body>
</html>